# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

# Sample workflow for building and deploying a Jekyll site to GitHub Pages
name: Deploy Jekyll site to Pages

on:
  push:
    branches:
      - "main"

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  # Build job
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.3' # Not needed with a .ruby-version file
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically
          cache-version: 0 # Increment this number if you need to re-download cached gems
      - name: Setup Pages
        id: pages
        uses: actions/configure-pages@v5
      - name: Build with Jekyll
        # Outputs to the './_site' directory by default
        run: | 
          # If CUSTOM_PAGES_DOMAIN is not set or empty
          if [ -z "${CUSTOM_PAGES_DOMAIN}" ]; then
            # Removes the repo owner from the hyperlink
            RAW="${GITHUB_REPOSITORY}"
            REPO_NAME_ONLY=$(echo "$RAW" | awk -F"/" '{print $2}')
            PAGES_URL="${GITHUB_REPOSITORY_OWNER}.github.io/$REPO_NAME_ONLY"
            REPO_NAME_PLACEHOLDER="$REPO_NAME_ONLY"
          else
            PAGES_URL="${CUSTOM_PAGES_DOMAIN}"
            REPO_NAME_PLACEHOLDER=""
          fi
          echo "CUSTOM_PAGES_DOMAIN='${CUSTOM_PAGES_DOMAIN}', PAGES_URL='${PAGES_URL}', REPO_NAME_PLACEHOLDER='${REPO_NAME_PLACEHOLDER}'"
          sed -i -e "s|PAGES-URL-PLACEHOLDER|${PAGES_URL}|g" -e "s|REPO-PLACEHOLDER|${GITHUB_REPOSITORY}|g" _config.yml
          sed -i -e "s|REPO-NAME-PLACEHOLDER|${REPO_NAME_PLACEHOLDER}|g" assets/js/just-the-docs.js
          bundle exec jekyll build --baseurl "${{ steps.pages.outputs.base_path }}"
        env:
          JEKYLL_ENV: production
      - name: Upload artifact
        # Automatically uploads an artifact from the './_site' directory by default
        uses: actions/upload-pages-artifact@v3

  # Deployment job
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
